{% extends 'email_base.html' %}
{% block details %}
<div class="finalBox" id="finalBox">
    <label for="name">Name : </label>
    <input type="text" name="name" id="receiverName" required>
    <label for="brandName">Brand Name : </label>
    <input type="text" name="brandName" id="brand" value="" required>
    <label for="goal">Goal and/or Mission of Brand : </label>
    <input type="text" name="goal" id="goalMission" value="" required>
    <label for="emailFrequency">Frequency of Emails per Week : </label>
    <input type="text" name="emailFrequency" id="frequency" value="" required>
    <label for="resources">Educational Resources : </label>
    <input type="text" name="resources" id="educationalResources" value="" required>
    <button onclick="finalEmail()" class="send-btn">Send</button>
</div>
<script>
async function finalEmail(){
let url='https://formal-email-template-api.herokuapp.com/templates/Welcome%20email%20template';
let str= await fetch(url)

let final
var data = await str.json();
let val=[document.getElementById("receiverName").value,document.getElementById("brand").value,document.getElementById("goalMission").value,document.getElementById("frequency").value,document.getElementById("educationalResources").value]

let abc = data.match(/\[(.*?)\]/g);
let uniqueChars = [...new Set(abc)];
final=data
for(let i=0; i<uniqueChars.length; i++){
final=final.replaceAll(uniqueChars[i],val[i])
}
final=final.replace(/\n/g,'<br>')
document.getElementById("details").innerHTML=final

document.getElementById("greeting").innerHTML='Here is the final Email'
}

</script>
{% endblock details %}